<% include header.html %>
	<div class="mod-content">
		<form autocomplete="off" method="POST" class="form-wrapper">
			<div class="img-div">
				<div class="user-img"><img src="./uploads/a.jpeg"></div>
			</div>
			<p class="form-item form-input-wrapper form-item-username form-input-mobile">
				<input type="text" name="username" class="text-input" maxlength="60" placeholder="手机号/邮箱/用户名" value="" id="login-username">
			</p>
			<p class="form-item form-input-wrapper form-item-password form-input-mobile">
				<input type="password" name="password" class="text-input" id="login-password" placeholder="密码" value="">
			</p>
			<p>
				<input type="submit" value="登录" class="pass-button-full pass-button-full-disabled">
			</p>
		</form>
	</div>
</body>
</html>